body {
  background: peachpuff;
}

.wrapper{
  border: 1px black;
}

.a{
  background-color: rgb(199, 104, 104);
  border:1px solid black;
  height: 25vh;
  
}

.triplets-container{
  background-color: rgb(120, 230, 230);
  border:1px solid black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  gap: .5rem;
  height: 25vh;
  

}

.triplets-container > div{
  border: 1px solid black;
  height: 50px;
  width: 50px;
}

.h{
  background-color: rgb(166, 238, 166);
  border:1px solid black;
  height: 25vh;
  flex-grow: 4; 

  
}

@media (min-width: 600px) {
  .wrapper {
    flex-direction: row;
  }
  aside {
    width: 80%;
    flex: 4;
    align-items: center;
    margin-right: 1em;
  }
  aside > div {
    height: 10em;
  }

  main {
    flex: 2;
  }
}