/* use vh and vw instead of px, works like a % but better */


body {
  background: peachpuff;
}

*{
  border: 2px solid black;
}

.wrapper{
  border: 1px black;
  display: flex;  /* used for multiple content boxes */
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: stretch;
}

header{
  width: 100%;
  height: 15vh;
}

footer {
  flex-grow: 4;
}

.a{
  background-color: rgb(199, 104, 104);
  width: 100%;
  
}

.triplets-container{
  background-color: rgb(120, 230, 230);
  display: flex;
  flex-direction: column;
  min-height: 85vh;
  width: 100%;
}

.cards{
  display: flex;
  flex-grow: 2;
  flex-wrap:wrap;
  justify-content: space-evenly;
  width: 100%
}

.h{
  background-color: rgb(166, 238, 166);
  flex-grow: 1; 


}

.cards div{
  height: 80;
  margin: 1em;
  width: 20%; 
}


@media (min-width: 600px) {
  .triplets-container {
    flex-direction: row;
  }
  aside {
    width: 80%;
    flex: 4;
    align-items: center;
    margin-right: 1em;
  }
  aside > div {
    height: 10em;
  }
  .cards {
    width: 100%
    flex: 4;
    align-items: center;
    margin: 0em;
  }
  footer{
    min-height: 88vh;
  }
  header {
    max-height: 12vh;
  }
}